body {
  background: linear-gradient(
    65.5deg,
    rgb(23, 205, 205) -15.1%,
    rgb(23, 25, 95) 71.5%
  );
  color: white;
}
h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2.75rem;
}
