body {
  background: linear-gradient(
    270deg,
    rgb(23, 205, 205) -15.1%,
    rgb(23, 25, 95) 71.5%
  );
  color: white;
}
h1,
h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 2.75rem;
}

.weather-app {
  border: 1px solid white;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
}
.heading {
  margin-top: 40px;
}

.weather-icon {
  position: relative;
  top: -8px;
}

.units-big {
  font-size: 28px;
  position: relative;
  top: -36px;
}

ul {
  margin: 50px auto;
  list-style: none;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}
.forecast {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
}
