body {
  background: linear-gradient(
    270deg,
    rgb(23, 205, 205) -15.1%,
    rgb(23, 25, 95) 71.5%
  );
  color: white;
}
h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 2.75rem;
}

ul {
  margin: 80px auto 0 auto;
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.weather-app {
  border: 1px solid white;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
}
.heading {
  margin-top: 50px;
}

#weather-icon-big {
  position: relative;
  top: -8px;
  width: 120px;
}

.units-big {
  font-size: 28px;
  position: relative;
  top: -36px;
  text-decoration: none;
}

.forecast {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
}

.day-temp {
  font-weight: 900;
  font-size: 30px;
}

.night-temp {
  font-weight: 100;
}

.search-block,
.submit {
  display: inline;
  position: relative;
  top: -45px;
}

.search-block {
  width: 150px;
}

.profileLink {
  color: lightgreen;
  text-decoration: underline;
}

#currentLocation {
  margin-top: -100px;
  width: 193px;
}

#details {
  margin-top: 210px;
}

#day {
  margin-top: 130px;
}

#feels,
#humidity,
#wind,
#date,
#month,
#hours,
#minutes {
  font-weight: bolder;
}

#author {
  text-align: center;
}
